* {
  box-sizing: border-box;
}

@fontface {
  font-family: 'gloucester';
  src: url('../font/goucester-mt-extra-condensed.TTF') format('TTF'),
  font-weight: normal;
  font-style: normal;
}

@keyframes glow {
    to {
        text-shadow: 0 0 20px #00FFFF;
    }
}

body {
  background: #103651;
}

.overlay, .front, .image {
  background-size: cover;
  background-position: center;
}

.overlay, .front, .back {
  position: absolute;
  left:0;
  top:0;
}

.overlay {
  background-image: url('../images/eastenders-foreground.jpg');
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.playButton {
  z-index: 1000;
  cursor: pointer;
  top: 71%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.instructions {
  height: 550px;
  margin: 10% auto 0;
}

.instructions .mitchells {
  border: 2px white solid;
  height: 32%;
  width: 53%;
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  font-size: 20px;
  border: 2px white solid;
  background-color: transparent;
}

.instructions button{
  border-radius: 50%;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.instructions p {
  display: inline-block;
  margin: 30px;
  font-weight: normal;
}

main, .timer, .start, h1, .container, .score-board, .instructions {
  text-align: center;
}

.timer, .start, h1, .score-board, .category, .value, .youWon, .youLost, .youDrew, .instructions, button {
  font-family: 'gloucester';
  color: white;
  font-weight: bold;
}

.timer, .start, #p1, button {
  cursor: pointer;
}

.timer, .start, h1 {
  text-shadow: 5px 5px black;
}

.timer, .start, {
  position: relative;
}

.timer {
  height: 70px;
  width: 70px;
  border: 5px solid #205883;
  border-radius: 50%;
  font-size: 36px;
  line-height: 63px;
  margin: 5% auto 2%;
}

.start {
  font-size: 25px;
}

.card {
  float: left;
  height: 400px;
  width: 250px;
  position: relative;
}

.card:nth-child(2) {
  float: right;
}

.container {
  border: 2px solid transparent;
  margin: 6% auto 0;
  height: 450px;
  width: 620px;
  display: inline-block;
  position: relative;
}

.back {
	background-color: #205883;
  display: inline-block;
  transform-style: preserve-3d;
  transition: transform 1s;
  background-color: #205883;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(-180deg);
}

.front, .back {
  border: 5px white solid;
  height: 400px;
	width: 250px;
	border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.front {
  background-image: url('../images/queen-vic.jpg');
}

.card.flipped .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card.flipped .back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.selected {
  animation: glow .5s infinite alternate;
}

h1 {
  font-size: 35px;
}

.score-board {
  font-size: 25px;
  text-shadow: 5px 5px black;
  margin: 0 auto;
  width: 620px;
  text-align:left
}

.playerDeck{
  padding-left: 9%;
}

.computerDeck{
  padding-left: 32%;
}

.image {
  height: 172px;
  width: 240px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  overflow: auto;
  display: inline-block;
  background-repeat: no-repeat;
}

.youWon, .youLost, .youDrew, .instructions {
  background-color: black;
  font-size: 25px;
  border: 5px white solid;
  width: 615px;
}

.youWon, .youLost, .youDrew {
  margin: 16% auto 0;
  height: 445px;
  padding-top: 35px;
}

.youDrew .image, .youLost .image {
  border: 2px solid white;
}

.reset {
  display: block;
  margin: 36px auto;
}

.category, .value {
  font-size: 20px;
  margin: 5px;
  display: inline-block;
}

.heartache, .trauma, .sexAppeal {
  text-align: left;
  margin-left: 10px;
}

.value {
  float: right;
  margin-right: 10px;
}
