/*#overlay{
height: 700px;
width:940px;
position:absolute; /*You may also use fixed depending on your needs.*/
/*left:0;
top:0; /*If you want it at the bottom you probably want bottom:0 instead*/
/*z-index: 999;
}*/

.timer {
  height: 70px;
  width: 70px;
  border: 5px solid dodgerblue;
  position: relative;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: dodgerblue;
  margin: 0 auto 30px;
}

.timer.active {
  background-color: dodgerblue;
  color: white;
}
main {
  text-align: center;
}

.board {
  border: 2px solid white;
  margin: 0 auto;
	height: 450px;
	width: 700px;
	display: inline-block;
  text-align:center;
}

.card {
	height: 400px;
	width: 300px;
	border: 1px #000000 solid;
	border-radius: 10px;
	background-color: rgb(255,255,0);
  display: inline-block;
  margin: 2%;
}

div.card {
}
div.card:hover {
cursor:pointer;
}


h1 {
  font-size: 20px;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: auto;
  text-align: center;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  text-align: center;
}
